.navbar{
  font-size:1.6rem;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  background-color: transparent;
}
.navbar-default{
  color:@txtWhite;
  border:none;
  .navbar-nav{
    & > li{
      & > a{
        line-height:30px;
        color:@txtWhite;
        &:hover{
          color:@txtFocus;
        }
        &:focus{
          color:@txtFocus;
        }
      }
    }
    & > .active{
      & > a{
        color: @txtWhite;
        background-color: transparent;
      }
    }
  }
  .navbar-brand{
    height:60px;
    line-height:30px;
    color:@txtWhite;
    &:hover{
      color:@txtFocus;
    }
    &:focus{
      color:@txtFocus;
    }
  }
}
.fixed-nav{
  color:@txtColor;
  .navbar-nav{
    & > li{
      & > a{
        color:@txtColor;
        &:hover{
          color:@txtBlack;
        }
        &:focus{
          color:@txtBlack;
        }
      }
    }
    & > .active{
      & > a{
        color: @txtColor;
      }
    }
  }
  .navbar-brand{
    color:@txtColor;
    &:hover{
      color:@txtBlack;
    }
    &:focus{
      color:@txtBlack;
    }
  }
}