<!DOCTYPE html>
<html lang="en">
<head>
    @@include("include/head.inc")
    <!-- build:remove -->
    <link type="text/css" rel="stylesheet" href="../assets/css/default.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/main.less">
    <!-- endbuild -->
    <!-- inject:css -->
    <!-- endinject -->
    <title>文章详情</title>
</head>
<body>
<h1>文章详情</h1>

@@include("include/foot.inc")
<script type="text/javascript" src="/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/content.js"></script>
</body>
</html>